version: "3.9"
services:
  api:
    build: .
    container_name: busch-burier-api
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development
